<div class="header__search header-item">
    <div class="logo">
        <a class="logo__link" href="/" class="logo">T</a>
    </div>
    <span class="header__text">TASK</span>
    <form class="search">
        <a href="#" class="search__link">
            <i class="fa fa-search search__icon" aria-hidden="true"></i>
        </a>
        <input class="search__input" type="text" placeholder="Search everything">
    </form>
</div>