<form action="#" class="new-task show-new-task" data-addcard="taskBoardOnprogress">
    <div class="new-task__header">
        <div class="new-task__title">Created New Card</div>
        <i class="fa-solid fa-close"></i>
    </div>
    <textarea class="new-task__description" name="" placeholder="What is the task?"></textarea>
    <div class="new-task__bookmark">
        <i class="fa-solid fa-bookmark"></i>
        <div class="new-task__bookmark-content">sadasdasd</div>
        <div class="create-element create-element_color">
            <i class="fa-solid fa-plus"></i>
        </div>
    </div>
    <span class="new-task__separator"></span>
    <div class="new-task__performers">
        <i class="fa-solid fa-user-plus new-task__add-performers"></i>
        <div class="new-task__new-performers">asdasdasd</div>
        <div class="create-element create-element_color">
            <i class="fa-solid fa-plus"></i>
        </div>
    </div>
    <button class="new-task__btn">Done</button>
</form>