<article class="new-task show-new-task">
    <div class="new-task__header">
        <div class="new-task__title">Created New Card</div>
        <i class="fa-solid fa-close"></i>
    </div>
    form
    <div class="new-task__performers">

    </div>
</article>