<section class="task-board">
    <section class="task-board__ready">
        <div class="task-board__title">
            <div class="board-title">Task Ready</div>
            <button class="task-options">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
        </div>
        <div class="task-board__content">
            <div class="add-card" data-addcard="taskBoardDeady">
                <i class="fa-solid fa-plus add-card__icon"></i>
                <span class="add-card__text">add card</span>
            </div>
        </div>
    </section>
    <section class="task-board__onprogress">
        <div class="task-board__title">
            <div class="board-title">On progress</div>
            <button class="task-options">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
        </div>
        <div class="task-board__content">
            <div class="add-card" data-addcard="taskBoardOnprogress">
                <i class="fa-solid fa-plus add-card__icon"></i>
                <span class="add-card__text">add card</span>
            </div>
        </div>
    </section>
    <section class="task-board__needsreview">
        <div class="task-board__title">
            <div class="board-title">Needs review</div>
            <button class="task-options">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
        </div>
        <div class="task-board__content">
            <div class="add-card" data-addcard="taskBoardNeedsReqview">
                <i class="fa-solid fa-plus add-card__icon"></i>
                <span class="add-card__text">add card</span>
            </div>
        </div>
    </section>
    <section class="task-board__done">
        <div class="task-board__title">
            <div class="board-title">Done</div>
            <button class="task-options">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
        </div>
        <div class="task-board__content">
            <%- include('./work-card.ejs'); %>
            <%- include('./new-task.ejs'); %>
            <div class="add-card" data-addcard="taskBoardDone">
                <i class="fa-solid fa-plus add-card__icon"></i>
                <span class="add-card__text">add card</span>
            </div>
        </div>
    </section>
</section>