<section class="task-progress">
    <div class="task-progress__bars">
        <div class="progress-bars">
            <div class="progress-bars__first">
                <div class="progress-bars__first-title">Copywriting</div>
                <div class="progress-bars__first-states">3/8</div>
                <div class="progress-bars__first-progress">
                    <span></span>
                </div>
            </div>
            <div class="progress-bars__first">
                <div class="progress-bars__first-title">Illustrations</div>
                <div class="progress-bars__first-states">6/10</div>
                <div class="progress-bars__first-progress">
                    <span></span>
                </div>
            </div>
            <div class="progress-bars__first">
                <div class="progress-bars__first-title">UI Design</div>
                <div class="progress-bars__first-states">2/7</div>
                <div class="progress-bars__first-progress">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="task-progress__recent-activity user-actions">recent-activity</div>
</section>