<section class="task-board">
    <section class="task-board__ready">
        <div class="task-board__title">
            <div class="board-title">Task Ready</div>
            <button class="task-options">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
        </div>
        <div class="task-board__content">
            <article class="user-card">
                <header class="user-card__header">
                    <div class="user-card__title">Copywriting</div>
                    <button class="user-card__options">
                        <i class="fa-solid fa-ellipsis"></i>
                    </button>
                </header>
                <div class="user-card__desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis vero non hic unde delectus provident doloremque quam similique eveniet minima?</div>
                <footer class="user-card__footer">
                    <div class="user-card__attr">
                        <div class="user-calendar">
                            <i class="fa-solid fa-flag"></i>
                            <span class="calendar-date">Nov 5</span>
                        </div>
                        <div class="user-messages">
                            <i class="fa-solid fa-message"></i>
                            <span class="message-count">2</span>
                        </div>
                        <div class="user-attach-file">
                            <i class="fa-solid fa-paperclip"></i>
                            <span class="attach-file__count">5</span>
                        </div>
                        <img class="user__img" src="/img/sys_icon/icon-user-green.png" alt="avatar">
                    </div>
                </footer>
            </article>
            <article class="user-card">
                <header class="user-card__header">
                    <div class="user-card__title">Copywriting</div>
                    <button class="user-card__options">
                        <i class="fa-solid fa-ellipsis"></i>
                    </button>
                </header>
                <div class="user-card__desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis vero non hic unde delectus provident doloremque quam similique eveniet minima?</div>
                <footer class="user-card__footer">
                    <div class="user-card__attr">
                        <div class="user-calendar">
                            <i class="fa-solid fa-flag"></i>
                            <span class="calendar-date">Nov 5</span>
                        </div>
                        <div class="user-messages">
                            <i class="fa-solid fa-message"></i>
                            <span class="message-count">2</span>
                        </div>
                        <div class="user-attach-file">
                            <i class="fa-solid fa-paperclip"></i>
                            <span class="attach-file__count">5</span>
                        </div>
                        <img class="user__img" src="/img/sys_icon/icon-user-green.png" alt="avatar">
                    </div>
                </footer>
            </article>
            <article class="user-card">
                <header class="user-card__header">
                    <div class="user-card__title">Copywriting</div>
                    <button class="user-card__options">
                        <i class="fa-solid fa-ellipsis"></i>
                    </button>
                </header>
                <div class="user-card__desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis vero non hic unde delectus provident doloremque quam similique eveniet minima?</div>
                <footer class="user-card__footer">
                    <div class="user-card__attr">
                        <div class="user-calendar">
                            <i class="fa-solid fa-flag"></i>
                            <span class="calendar-date">Nov 5</span>
                        </div>
                        <div class="user-messages">
                            <i class="fa-solid fa-message"></i>
                            <span class="message-count">2</span>
                        </div>
                        <div class="user-attach-file">
                            <i class="fa-solid fa-paperclip"></i>
                            <span class="attach-file__count">5</span>
                        </div>
                        <img class="user__img" src="/img/sys_icon/icon-user-green.png" alt="avatar">
                    </div>
                </footer>
            </article>
            <div class="add-card">
                <i class="fa-solid fa-plus add-card__icon"></i>
                <span class="add-card__text">add card</span>
            </div>
        </div>
    </section>
    <section class="task-board__onprogress">
        <div class="task-board__title">
            <div class="board-title">On progress</div>
            <button class="task-options">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
        </div>
        <div class="task-board__content">
            <article class="user-card">
                <header class="user-card__header">
                    <div class="user-card__title">Copywriting</div>
                    <button class="user-card__options">
                        <i class="fa-solid fa-ellipsis"></i>
                    </button>
                </header>
                <div class="user-card__desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis vero non hic unde delectus provident doloremque quam similique eveniet minima?</div>
                <footer class="user-card__footer">
                    <div class="user-card__attr">
                        <div class="user-calendar">
                            <i class="fa-solid fa-flag"></i>
                            <span class="calendar-date">Nov 5</span>
                        </div>
                        <div class="user-messages">
                            <i class="fa-solid fa-message"></i>
                            <span class="message-count">2</span>
                        </div>
                        <div class="user-attach-file">
                            <i class="fa-solid fa-paperclip"></i>
                            <span class="attach-file__count">5</span>
                        </div>
                        <img class="user__img" src="/img/sys_icon/icon-user-green.png" alt="avatar">
                    </div>
                </footer>
            </article>
            <article class="user-card">
                <header class="user-card__header">
                    <div class="user-card__title">Copywriting</div>
                    <button class="user-card__options">
                        <i class="fa-solid fa-ellipsis"></i>
                    </button>
                </header>
                <div class="user-card__desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis vero non hic unde delectus provident doloremque quam similique eveniet minima?</div>
                <footer class="user-card__footer">
                    <div class="user-card__attr">
                        <div class="user-calendar">
                            <i class="fa-solid fa-flag"></i>
                            <span class="calendar-date">Nov 5</span>
                        </div>
                        <div class="user-messages">
                            <i class="fa-solid fa-message"></i>
                            <span class="message-count">2</span>
                        </div>
                        <div class="user-attach-file">
                            <i class="fa-solid fa-paperclip"></i>
                            <span class="attach-file__count">5</span>
                        </div>
                        <img class="user__img" src="/img/sys_icon/icon-user-green.png" alt="avatar">
                    </div>
                </footer>
            </article>
            <div class="add-card">
                <i class="fa-solid fa-plus add-card__icon"></i>
                <span class="add-card__text">add card</span>
            </div>
        </div>
    </section>
    <section class="task-board__needsreview">
        <div class="task-board__title">
            <div class="board-title">Needs review</div>
            <button class="task-options">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
        </div>
        <div class="task-board__content">
            <article class="user-card">
                <header class="user-card__header">
                    <div class="user-card__title">Copywriting</div>
                    <button class="user-card__options">
                        <i class="fa-solid fa-ellipsis"></i>
                    </button>
                </header>
                <div class="user-card__desc">lorem100</div>
                <footer class="user-card__footer">
                    <div class="user-card__attr">
                        <div class="user-calendar">
                            <i class="fa-solid fa-flag"></i>
                            <span class="calendar-date">Nov 5</span>
                        </div>
                        <div class="user-messages">
                            <i class="fa-solid fa-message"></i>
                            <span class="message-count">2</span>
                        </div>
                        <div class="user-attach-file">
                            <i class="fa-solid fa-paperclip"></i>
                            <span class="attach-file__count">5</span>
                        </div>
                        <img class="user__img" src="/img/sys_icon/icon-user-green.png" alt="avatar">
                    </div>
                </footer>
            </article>
            <article class="user-card">
                <header class="user-card__header">
                    <div class="user-card__title">Copywriting</div>
                    <button class="user-card__options">
                        <i class="fa-solid fa-ellipsis"></i>
                    </button>
                </header>
                <div class="user-card__desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis vero non hic unde delectus provident doloremque quam similique eveniet minima?</div>
                <footer class="user-card__footer">
                    <div class="user-card__attr">
                        <div class="user-calendar">
                            <i class="fa-solid fa-flag"></i>
                            <span class="calendar-date">Nov 5</span>
                        </div>
                        <div class="user-messages">
                            <i class="fa-solid fa-message"></i>
                            <span class="message-count">2</span>
                        </div>
                        <div class="user-attach-file">
                            <i class="fa-solid fa-paperclip"></i>
                            <span class="attach-file__count">5</span>
                        </div>
                        <img class="user__img" src="/img/sys_icon/icon-user-green.png" alt="avatar">
                    </div>
                </footer>
            </article>
            <article class="user-card">
                <header class="user-card__header">
                    <div class="user-card__title">Copywriting</div>
                    <button class="user-card__options">
                        <i class="fa-solid fa-ellipsis"></i>
                    </button>
                </header>
                <div class="user-card__desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis vero non hic unde delectus provident doloremque quam similique eveniet minima?</div>
                <footer class="user-card__footer">
                    <div class="user-card__attr">
                        <div class="user-calendar">
                            <i class="fa-solid fa-flag"></i>
                            <span class="calendar-date">Nov 5</span>
                        </div>
                        <div class="user-messages">
                            <i class="fa-solid fa-message"></i>
                            <span class="message-count">2</span>
                        </div>
                        <div class="user-attach-file">
                            <i class="fa-solid fa-paperclip"></i>
                            <span class="attach-file__count">5</span>
                        </div>
                        <img class="user__img" src="/img/sys_icon/icon-user-green.png" alt="avatar">
                    </div>
                </footer>
            </article>
            <article class="user-card">
                <header class="user-card__header">
                    <div class="user-card__title">Copywriting</div>
                    <button class="user-card__options">
                        <i class="fa-solid fa-ellipsis"></i>
                    </button>
                </header>
                <div class="user-card__desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis vero non hic unde delectus provident doloremque quam similique eveniet minima?</div>
                <footer class="user-card__footer">
                    <div class="user-card__attr">
                        <div class="user-calendar">
                            <i class="fa-solid fa-flag"></i>
                            <span class="calendar-date">Nov 5</span>
                        </div>
                        <div class="user-messages">
                            <i class="fa-solid fa-message"></i>
                            <span class="message-count">2</span>
                        </div>
                        <div class="user-attach-file">
                            <i class="fa-solid fa-paperclip"></i>
                            <span class="attach-file__count">5</span>
                        </div>
                        <img class="user__img" src="/img/sys_icon/icon-user-green.png" alt="avatar">
                    </div>
                </footer>
            </article>
            <div class="add-card">
                <i class="fa-solid fa-plus add-card__icon"></i>
                <span class="add-card__text">add card</span>
            </div>
        </div>
    </section>
    <section class="task-board__done">
        <div class="task-board__title">
            <div class="board-title">Done</div>
            <button class="task-options">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
        </div>
        <div class="task-board__content">
            <article class="user-card">
                <header class="user-card__header">
                    <div class="user-card__title">Copywriting</div>
                    <button class="user-card__options">
                        <i class="fa-solid fa-ellipsis"></i>
                    </button>
                </header>
                <div class="user-card__desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis vero non hic unde delectus provident doloremque quam similique eveniet minima?</div>
                <footer class="user-card__footer">
                    <div class="user-card__attr">
                        <div class="user-calendar">
                            <i class="fa-solid fa-flag"></i>
                            <span class="calendar-date">Nov 5</span>
                        </div>
                        <div class="user-messages">
                            <i class="fa-solid fa-message"></i>
                            <span class="message-count">2</span>
                        </div>
                        <div class="user-attach-file">
                            <i class="fa-solid fa-paperclip"></i>
                            <span class="attach-file__count">5</span>
                        </div>
                        <img class="user__img" src="/img/sys_icon/icon-user-green.png" alt="avatar">
                    </div>
                </footer>
            </article>
            <div class="add-card">
                <i class="fa-solid fa-plus add-card__icon"></i>
                <span class="add-card__text">add card</span>
            </div>
        </div>
    </section>
</section>