<section class="task-header horizontal-flex">
    <div class="task-header__title">Homepage Design</div>
    <div class="task-header__userbox">
        <div class="userbox">
            <a href="#" class="userbox__user-link">
                <img class="userbox__img" src="/img/sys_icon/icon-user-green.png" alt="avatar">
            </a>
            <a href="#" class="userbox__user-link">
                <img class="userbox__img" src="/img/sys_icon/icon-user-blue.png" alt="avatar">
            </a>
            <a href="#" class="userbox__user-link">
                <img class="userbox__img" src="/img/sys_icon/icon-user-red.png" alt="avatar">
            </a>
            <div class="userbox__create-user">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
    </div>
</section>