<article class="work-card">
    <header class="work-card__header">
        <div class="work-card__title">Copywriting</div>
        <button class="work-card__options">
            <i class="fa-solid fa-ellipsis"></i>
        </button>
    </header>
    <div class="work-card__desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis vero non hic unde delectus provident doloremque quam similique eveniet minima?</div>
    <footer class="work-card__footer">
        <div class="work-card__attr">
            <div class="user-calendar">
                <i class="fa-solid fa-flag"></i>
                <span class="calendar-date">Nov 5</span>
            </div>
            <div class="user-messages">
                <i class="fa-solid fa-message"></i>
                <span class="message-count">2</span>
            </div>
            <div class="user-attach-file">
                <i class="fa-solid fa-paperclip"></i>
                <span class="attach-file__count">5</span>
            </div>
            <img class="user__img" src="/img/sys_icon/icon-user-green.png" alt="avatar">
        </div>
    </footer>
</article>